# Node
node_modules/

# Env Dateien
.env
.env.local
.env.*.local

# Build Ordner
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Müll
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Optional
coverage/